$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$belt-item-height: 250px;

@import 'sass-bootstrap/lib/bootstrap';


// THEOS code
#belt-vert-spacer {
    height: $belt-item-height;
    overflow-x: scroll;
    overflow-y: hidden;
}

#belt-vert-spacer-colorfill {
    background-color: grey;
    width: 100%;
    position: absolute;
    height: $belt-item-height;
    left: 0;
    z-index: -1;
}

#belt-wrapper {
    width: 9000px; //needs to be set by JS as per how many movies there are
    position: relative;
}

#belt-button-left {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAuCAYAAAAcEfjaAAABV0lEQVRIx+2VsW7CQBBEDwTpIkXICMuyJdtfQsGXQUVFlSpVmjTESOn4BAoXLigsueAvaM2MBAht7g6v06ZYwNK8893ezGLatjV5ni9QO2PMC599ZdI0nWdZdgbQ4vsH0NgLQLSn+FZ4/gY0cgJBELxCdHiEUF+AhlaAH9jWG0SleNOnDbr/iON4AlEloA9AAyvAiqIogPAooHcnwIJghqrFmTZOgJUkSQRRI6C1E7huL8GbTmJ7Ky2w/PuWVIcOw3Daua2qi1NZQ20+i723XnurA/QQ0aJTRJ8J/oEuAFvNqcjWPwV4ibzM66Weeck+8YhTUNhm7xIPaUAhPtCoVjGtLdxbMgK/zsCwMDRi5YrhsnaJcRQrHzkNrW1l0MXKNQeCy95rsXLDUeNK3EqsfOIQ8/0DLVWAeku9Du1rK6ehE1BfnNoavcwn7L3tZO9eARIRLW4RvQA0+6DNwTHW6QAAAABJRU5ErkJggg==);
    background-position: 0 -26px;
}

#belt-button-right {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAuCAYAAAAcEfjaAAABV0lEQVRIx+2VsW7CQBBEDwTpIkXICMuyJdtfQsGXQUVFlSpVmjTESOn4BAoXLigsueAvaM2MBAht7g6v06ZYwNK8893ezGLatjV5ni9QO2PMC599ZdI0nWdZdgbQ4vsH0NgLQLSn+FZ4/gY0cgJBELxCdHiEUF+AhlaAH9jWG0SleNOnDbr/iON4AlEloA9AAyvAiqIogPAooHcnwIJghqrFmTZOgJUkSQRRI6C1E7huL8GbTmJ7Ky2w/PuWVIcOw3Daua2qi1NZQ20+i723XnurA/QQ0aJTRJ8J/oEuAFvNqcjWPwV4ibzM66Weeck+8YhTUNhm7xIPaUAhPtCoVjGtLdxbMgK/zsCwMDRi5YrhsnaJcRQrHzkNrW1l0MXKNQeCy95rsXLDUeNK3EqsfOIQ8/0DLVWAeku9Du1rK6ehE1BfnNoavcwn7L3tZO9eARIRLW4RvQA0+6DNwTHW6QAAAABJRU5ErkJggg==);
    background-position: 0 0;
}

.belt-button {
    background-repeat: no-repeat;
    display: block;
    margin-top: 30px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12px;
    left: 0;
    right: 0;
}

#belt-button-left-wrapper {
    border-bottom-right-radius: 36px;
    border-top-right-radius: 36px;
    box-shadow: 1px 0 2px rgba(0,0,0,.5);
    left: 0;
}

#belt-button-right-wrapper {
    border-bottom-left-radius: 36px;
    border-top-left-radius: 36px;
    box-shadow: -1px 0 2px rgba(0,0,0,.5);
    right: 0; 
}

.belt-button-wrapper {
    background: rgba(255,255,255,.9);
    -webkit-transition: background 0.15s,opacity 0.5s;
    -webkit-box-shadow: 1px 0 2px rgba(0,0,0,.5);
    transition: background 0.15s,opacity 0.5s;
    cursor: pointer;
    height: 72px;
    position: absolute;
    width: 36px;
    z-index: 1;
    margin-top: 55px;
}

.belt-item {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    height: $belt-item-height;
    transition: background .75s ease-in;
    img {
        height: 175px;
        width: 115px;
    }
    &:hover {
        background-color: gainsboro;
    }
}

.belt-title {
    font-size: 12px;
}

.belt-year {
    font-size: 10px;
}

.current {
    text-decoration: underline;
}

#movie-nav-bar-wrapper {
    height: 30px;
    #movie-nav-bar {
        height: 30px;
        // for opacity trans: http://bavotasan.com/2011/a-simple-fade-with-css3/
        opacity: 1;
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
        border-bottom: 1px solid black;
        .nav li {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) {
    //we need to specify the wrapper again to satisfy CSS selector weight rules
    #movie-nav-bar-wrapper {
        #movie-nav-bar {
            opacity: 0;
        }
    }
}

#movie-nav-bar.affix-top {
}

#movie-nav-bar.affix {
    top: 0px;
    background-color: white;
    z-index: 2;
    // left is necessary to specify left relative to viewport. 
    left: 0px;
    margin-left: 15px; //15px to offset Bootstrap container padding
    // margin-right: 15px; // this does nothing. *Need to find solution to this prblm
    width: 100%;
}


/* =============================================================================
---------------- END OF THEOS CODE
================================================================================ */


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
