<div ng-controller="MainCtrl">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Movies</a></li>
      <li><a href="#">Dead Link</a></li>
    </ul>
    <h3 class="text-muted">Leslie Cheung Movies</h3>
  </div>

  <!-- Spacer here does not break flow of page. Therefore it can space vertically for us -->
  <div id="belt-vert-spacer">
    <div id="belt-vert-spacer-colorfill">

    </div>
    <div id="belt-button-left-wrapper" class="belt-button-wrapper" ng-click="beltButtonLeftHandler()">
      <div id="belt-button-left" class="belt-button"></div>
    </div>
    <div id="belt-button-right-wrapper" class="belt-button-wrapper" ng-click="beltButtonRightHandler()">
      <div id="belt-button-right" class="belt-button"></div>
    </div>

    <div id="belt-wrapper">
      <div class="belt-item" ng-repeat="movie in moviesEnglish" ng-click="beltSelectHandler(movie)">
        <img src="{{movie.imgPath}}">
        <p class="belt-title">{{movie.title}}</p>
        <p class="belt-year">{{movie.year}}</p>
      </div>
    </div>
  </div>

  <div id="movie-nav-bar-wrapper">
    <div id="movie-nav-bar" class="nav" scroll-spy="">
      <ul class="nav">
        <li spy="synopsis">Synopsis</li>
        <li spy="actors">Actors</li>
        <li spy="awards">Awards</li>
      </ul>
    </div>
  </div>

  <div id="movie-details-wrapper" class="row">
    <!-- Synopsis -->
    <div id="synopsis" class="col-sm-4">
      <h3>Synopsis</h3>
      {{currentBelt.synop}}
    </div>

    <!-- Actors -->
    <div id="actors" class="col-sm-4">
      <h3>Actors</h3>
      <ul>
        <li ng-repeat="actor in currentBelt.actors">
          {{actor}}
        </li>
      </ul>
    </div>

    <!-- Awards -->
    <div id="awards" class="col-sm-4">
      <h3>Awards</h3>
      <!-- For parent divs of nested ng-repeats, use div instead of p -->
        <div ng-repeat="award in currentBelt.awards">
          <p>{{award.year}}</p>
          <div ng-repeat="awardBody in award.awardBody">
            {{awardBody.awardBodyName}}
            <ul>
              <li ng-repeat="awardName in awardBody.awardNames">
                {{awardName}}
              </li>
            </ul>
          </div>
        </div>
    </div>


  </div>
  <!--  //#movie-details-wrapper -->

  <div class="footer">
    <p>Leslie The King</p>
  </div>
</div>