<div ng-controller="MainCtrl">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Songs</a></li>
      <li><a href="#">Concerts</a></li>
    </ul>
    <h3 class="text-muted">Leslie Cheung Movies</h3>
  </div>

  <! --  Spacer here does not break flow of page. Therefore it can space vertically for us-->
  <div id="belt-vert-spacer">
    <div id="belt-vert-spacer-colorfill"></div>
    <div id="belt-button-left" ng-click="beltButtonLeftHandler()">Left Button</div>
    <div id="belt-button-right" ng-click="beltButtonRightHandler()">Right Button</div>
      <div id="belt-wrapper">
        <div class="belt-item" ng-repeat="movie in moviesEnglish" ng-click="beltSelectHandler(movie)">
          <img src="{{movie.meta.imgPath}}"/>
          <p class="belt-title">{{movie.meta.title}}</p>
          <p class="belt-year">{{movie.meta.year}}</p>
        </div>
      </div>
  </div>


  <div id="movie-nav-bar" class="nav navbar navbar-default" scroll-spy>
    <ul class="nav navbar-nav">
      <li spy="synopsis">Synopsis</li>
      <li spy="actors">Actors</li>
      <li spy="awards">Awards</li>
    </ul>
  </div>

  <div id="movie-details-wrapper">
    <!-- Synopsis -->
    <div id="synopsis">
      <h3>Synopsis</h3>
      {{currentBelt.synop}}
    </div>

    <!-- Actors -->
    <div id="actors">
      <h3>Actors</h3>
      <ul>
        <li ng-repeat="actor in currentBelt.actors">
          {{actor}}
        </li>
      </ul>
    </div>

    <!-- Awards -->
    <div id="awards">
      <h3>Awards</h3>
      <!-- For parent divs of nested ng-repeats, use div instead of p -->
        <div ng-repeat="(year, yearDetails) in currentBelt.awards">
          <p>{{year}}</p>
          <div ng-repeat="(awardingBody, awards) in yearDetails">
            {{awardingBody}}
            <ul>
              <li ng-repeat="award in awards">
                {{award}}
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="footer">
    <p>Leslie The King</p>
  </div>
</div>